<p id="notice"><%= notice %>MASTER CHNAGEEEEEEEEEEEEEEEEEEE</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Is featured:</b>
  <%= @post.is_featured %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
